* {
  box-sizing: border-box;
}
body {

  font-family: 'Open Sans';
  font-weight: 400;

}


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.modal-backdrop {
  z-index: -1;
}


/* main {
  /* position: relative;
  z-index: 1;
  padding: 3vh 5vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
 
} */

main h1 {
  margin: 0;
  font-weight: 300;
  color: #38c5b9;
}
main h1 a {
  font-size: 48px;
}
main p {
  font-weight: 300;
  font-size: 16px;
  max-width: 340px;
  margin: 7px auto;
}
main a {
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
}
.menua{
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
  position: absolute;
  right: 16px;
}

main .plate {
  position: absolute;
  top: 50%;
  left: 48%;
  max-width: 500px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
  .navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

/* h5{
  font-family: Janda Manatee Solid;
  color: red;
} */

/* .sub_1{
  background-color: #ff7c7c;
}
.sub_2{
  background-color: #fffa7c;
}
.sub_3{
  background-color: #7cffa5;
}
.sub_4{
  background-color: #7ce9ff;
}
.sub_5{
  background-color: #827cff;
} */

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #3e3e3e;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 45px;
  height: 20vh;
  width: 20%;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  height: 20vh;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.icn_ayo{
  width: 100%;
  height: 10%;
  position : absolute;
  /* z-index: 1; */
}

.score{
  padding-top: 9%;
  padding-left: 14%;
  font-family: Janda Manatee Solid;
  font-size :20px;
  position : absolute;
  z-index: 2;
  
  
}

.bottom_left {

  position: absolute;
  bottom: 8px;
  left: 16px;

}

.icn_sw {
height: 75px;
width: 150px;
padding-top:25px;
}

.icn_darah {
height: 75px;
width: 75px;
padding-top:25px;
}

.icn_menu{
height: 250px;
width: 350px;
padding-left:50px;
padding-right:50px;
}

.logo_latihan{
height: 250px;
width: 350px;
}

.icn_logo {
width: 200px;
height: 200px;

}

.icn_anak {
width: 200px;
height: 300px;

}

/* .icn_anak2 {
width: 10%;
height: 30%;
position: absolute;
z-index: 1;

} */

.bubble {
position: absolute;
z-index: -1;
width: 400PX;
height: 300px;
left: 95px;

}

.logo {
width: 600px;
height: 300px;

}

.bgutama{
  background: url(../assets/icon/bgutama.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg2 {
  background: url(../assets/icon/bgmenu.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.papan{
  position:absolute;
  z-index:-1;
  width: 600px;
  height: 450px;

}

.bg3 {
  background: url(../assets/icon/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.bginstruksi {
  background: url(../assets/icon/bginstruksi.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.icn {
  height: 120px;
  width: 200px;
}
.icn2{
  height: 100px;
  width: 100px;
}

.about_bill{
  height: 100%;
  width: 100%;
  /* position: absolute;
  z-index: -1; */
}

.close_modal{
  height: 15%;
  width: 12%;
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 16px;
}


/* carousel */
/** TIPS: 
1. The carousel shouldn't be in any other div, like for example div with class container. 
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
