* {
  box-sizing: border-box;
}
body {

  font-family: 'Open Sans';
  font-weight: 400;

}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black; /*#242f3*/
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.modal-backdrop {
  z-index: -1;
}


/* main {
  /* position: relative;
  z-index: 1;
  padding: 3vh 5vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
 
} */

main h1 {
  margin: 0;
  font-weight: 300;
  color: #38c5b9;
}
main h1 a {
  font-size: 48px;
}
main p {
  font-weight: 300;
  font-size: 16px;
  max-width: 340px;
  margin: 7px auto;
}
main a {
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
}


main .plate {
  position: absolute;
  top: 50%;
  left: 48%;
  max-width: 500px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
  .navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

/* h5{
  font-family: Janda Manatee Solid;
  color: red;
} */

/* .sub_1{
  background-color: #ff7c7c;
}
.sub_2{
  background-color: #fffa7c;
}
.sub_3{
  background-color: #7cffa5;
}
.sub_4{
  background-color: #7ce9ff;
}
.sub_5{
  background-color: #827cff;
} */

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #3e3e3e;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 45px;
  height: 20vh;
  width: 20%;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  height: 20vh;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.icn_ayo{
  width: 15%;
  height: 3%;
  position : fixed;
  bottom:58%;
  left: 15%;
  /* z-index: 1; */
}

.grp_periksa{
  padding-top:20%;
}



.bottom_left {

  position: fixed;
  bottom: 2%;
  left: 2%;

}

.top_right{
  position: absolute;
  top: 12%;
  left: 85%;
}


.btn_bantuan{
  width: 40%;
  transition: transform .2s;
}
.btn_bantuan:hover{
  transform: scale(1.2);
}
.btn_bantuan:active{
  transform: translateY(4px);
}
.btn_pop_up{
  width: 45%;
  transition: transform .2s;
}
.btn_pop_up:hover{
  transform: scale(1.2);
}
.btn_pop_up:active{
  transform: translateY(4px);
}


.skorbox{
  font-family: Janda Manatee Solid;
  font-size :60px;
}

.table-skor{
  padding-top: 5%;
  font-family: Janda Manatee Solid;
  font-color : white
}
/* score */

.score{
  /* padding-top: 9%;
  padding-left: 14%; */
  font-family: Janda Manatee Solid;
  font-size :20px;
  position : fixed;
  z-index: 2;
  padding-top:2.2%;
}

.menua{
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
  position: absolute;
  left:65%;
}

.icn_sw {
  z-index: 1;;
  height: 70px;
  width: 30%;
  padding-top:2%;

}

.icn_darah {
  height: 15%;
  width: 15%;
  padding-top:2%;

}
/* score end */

.icn_menu{
  height: 20%;
  width: 20%;
  padding-left:1%;
  padding-right:1%;
  transition: transform .2s;
}

.icn_menu:hover{
  transform: scale(1.2);
}
.icn_menu:active{
  transform: translateY(10px);
}

.help_index{
  width: 64px;
  height:64px;
  transition: transform .2s;
}
.help_index:hover{
  transform: scale(1.2);
}
.help_index:active{
  transform: translateY(4px);
}


.logo_latihan{
  height: 30%;
  width: 15%;
}

.icn_logo {
  width: 15%;
  height: 15%;

}

.icn_anak {
  padding-top :7%;
  width: 15%;
  height: 60%;
  position:fixed;
  bottom:0px;
  left:0%;

}

/* .icn_anak2 {
width: 10%;
height: 30%;
position: absolute;
z-index: 1;

} */

.bubble {
  position: fixed;
  z-index: -1;
  width: 25%;
  height: 30%;
  bottom: 37%;
  left: 10%;

}
.isi_bubble {
  position: fixed;
  z-index: 1;
  bottom: 45%;
  left: 20%;

}

.logo {
  width: 50%;
  height: 15%;

}

.bgutama{
  background: url(../assets/icon/bgutama.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; 
  height: 100%;
  overflow: hidden;
}

.bg2 {
  background: url(../assets/icon/bg_latihan.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; 
  height: 100%;
  overflow: hidden; */
}

.bg3 {
  background: url(../assets/icon/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; 
  height: 100%;
  overflow: hidden; */
}

.bg_instruksi {
  background: url(../assets/icon/bginstruksi.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; 
  height: 100%;
  overflow: hidden; */
}

.bg_scoreboard {
  background: url(../assets/icon/bg_scoreboard2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; 
  height: 100%;
  overflow: hidden; */
}

.bg_menu_ujian {
  background: url(../assets/icon/bg_ujian2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; 
  height: 100%;
  overflow: hidden; */
}



.papan{
  z-index:-1;
  position: fixed;
  min-width: 40%;
  min-height: 52%;
  max-width: 40%;
  max-height: 52%;
  top:27%;
  padding-left:1%;

}

.icn {
  width: 17%;
  transition: transform .2s;
}
.icn:hover{
  transform: scale(1.2);
}
.icn:active{
  transform: translateY(10px);
}

.icn2 {
  width: 7%;
  transition: transform .2s;
}
.icn2:hover{
  transform: scale(1.2);
}
.icn2:active{
  transform: translateY(4px);
}

.close_modal{
  z-index: 2;
  right: 1%;
  position: absolute;
  width: 10%;
  transition: transform .2s;
}
.close_modal:hover{
  transform: scale(1.2);
}
.close_modal:active{
  transform: translateY(10px);
}

.input_skor{
  z-index:2;
  position: fixed;
  text-align: center;
  padding-left: 20%;
  padding-top: 18%;
}

.skor_modal{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}
.btn_modal_skor{
  width:35%;
}

.Waktu_modal{
  height: 100%;
  width: 100%;

}

.about_modal{
  height: 100%;
  width: 100%;
  /* position: absolute;
  z-index: -1; */
}

.pop_bs {
  height: 10%;
  width: 10%;
  
}

div.modal-content{
  background:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border:0px;
    
}

.input{
  border:1px solid #000;
  display:inline-flex;
  min-width:20px;
}



/* animation fade in out*/
/* #pop_benar{
  opacity: 0;
  transition: opacity 1s; 
}

#pop_

#pop_benar.fade{
  opacity: 0;
}

#pop_salah{
  opacity: ;
  transition: opacity 1s; 
}

#pop_salah.fade{
  opacity: 0;
} */

/* pop up end */
.papan_template{
  width: 100%;
  max-width: 64px;
  height: 100%;
  max-height: 64px;
}
.kanvas_template{
  top :40%; 
  position:absolute; 
  border:2px solid #ff8000;
  z-index:2;
}
.kanvas_contoh{
  z-index:1;
  position :absolute;
  top:40.5%;
  opacity: 0.5;
}
.grp_btn_skor{
  padding-left:10%;
}
#countdown.score{
  color : red; 
  padding-left:22%
}
#livecount.score{
  color : white; padding-left:2.2%
}
#score.score{
  color : #00bfff; padding-left:10%
}

.grp_pop_up{
  position: absolute;
  right:5%;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index:4;
}
@-moz-document url-prefix() {
   @media only screen and (min-width : 668px) and (max-width: 846px){
    /* For mobile phones: */

    /* max-width : 812 */
    .papan{
      min-width: 70%;
      min-height: 82%;
      max-width: 70%;
      max-height: 82%;
      top:15%;
      padding-left:1%;
    
    }
    .grp_periksa{
      padding-top:25%;
      position:fixed;
      bottom:0px;
      left:0%;
    }
    .kanvas_template{
      top :29.5%; 
    }
    .kanvas_contoh{
      top:29.5%;
    }
    .papan_template{
      width: 40%;
    }
    .papan_template_ujian{
      width: 40%;
    }
    .isi_bubble {
      bottom: 43%;
      left: 18%;
    
    }
    .about_modal{
      height: 60%;
      width: 60%;
    }
    .close_modal{
      right: 12%;
      width: 10%;
    }
    .skor_modal{
      height: 100%;
      width: 100%;
      bottom: 10%;
    }
    .grp_btn_skor{
      padding-left: 15%;
      padding-top: 35%;
      z-index: 1;
      position: fixed;
    }
    .btn_pop_up{
      width: 30%;
    }
    .input_skor{
      z-index:2;
      position: fixed;
      text-align: center;
      padding-left: 15%;
      padding-top: 12%;
      font-size: 2px;
    }
    .score{
      font-size: 10px;
      padding-top: 2.8%;
      padding-left: 1%;
    }
    /* #livecount.score{
      padding-left:2.2%
    }
    #score.score{
      padding-left:10%
    }
    #countdown.score{ 
      padding-left:23%
    } */

    .icn_sw {
      z-index: 1;;
      height: 35px;
      width: 30%;
      padding-top:0.5%;
    
    }
    .icn_darah {
      height: 15%;
      width: 15%;
      padding-top:2%;
    
    }
    .grp_pop_up{
      position: absolute;
      right:7%;
      top: 50%;
      width: 100%;
      text-align: center;
      z-index:4;
    }
    .pop_bs{
      height: 13%;
      width: 13%; 
    }
   }
    /* For mobile phones: */

    /* (max-width : 705px) and (max-height:327px) */
    @media (min-width: 481px) and (max-width: 767px) {
      .papan{
        min-width: 70%;
        min-height: 82%;
        max-width: 70%;
        max-height: 82%;
        top:15%;
        padding-left:1%;
      
      }
      .grp_periksa{
        padding-top:30%;
        position:fixed;
        bottom:0px;
        left:0%;
      }
      .kanvas_template{
        top :29.5%; 
      }
      .kanvas_contoh{
        top:29.5%;
      }
      .papan_template{
        width: 40%;
      }
      .papan_template_ujian{
        width: 40%;
      }
      .isi_bubble {
        bottom: 43%;
        left: 18%;
      
      }
      .about_modal{
        height: 60%;
        width: 60%;
      }
      .close_modal{
        right: 12%;
        width: 10%;
      }
      .skor_modal{
        height: 100%;
        width: 100%;
        bottom: 10%;
      }
      .grp_btn_skor{
        left: 18%;
        padding-top: 40%;
        z-index: 1;
        position: fixed;
      }
      .btn_pop_up{
        width: 30%;
      }
      .input_skor{
        z-index:2;
        position: fixed;
        text-align: center;
        padding-left: 18%;
        padding-top: 12%;
        font-size: 2px;
      }
      .score{
        font-size: 10px;
        padding-top: 3%;
        padding-left: 1%;
      }
      #livecount.score{
        padding-left:2.2%
      }
      #score.score{
        padding-left:10%
      }
      #countdown.score{ 
        padding-left:23%
      }
    
      .icn_sw {
        z-index: 1;;
        height: 35px;
        width: 30%;
        padding-top:0.5%;
      
      }
      .icn_darah {
        height: 15%;
        width: 15%;
        padding-top:2%;
      
      }
      .grp_pop_up{
        position: absolute;
        right:7%;
        top: 50%;
        width: 100%;
        text-align: center;
        z-index:4;
      }
      .pop_bs{
        height: 13%;
        width: 13%; 
      }
    
}


  
  
}



