* {
  box-sizing: border-box;
}
body {

  font-family: 'Open Sans';
  font-weight: 400;

}


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.modal-backdrop {
  z-index: -1;
}


/* main {
  /* position: relative;
  z-index: 1;
  padding: 3vh 5vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
 
} */

main h1 {
  margin: 0;
  font-weight: 300;
  color: #38c5b9;
}
main h1 a {
  font-size: 48px;
}
main p {
  font-weight: 300;
  font-size: 16px;
  max-width: 340px;
  margin: 7px auto;
}
main a {
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
}


main .plate {
  position: absolute;
  top: 50%;
  left: 48%;
  max-width: 500px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
  .navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

/* h5{
  font-family: Janda Manatee Solid;
  color: red;
} */

/* .sub_1{
  background-color: #ff7c7c;
}
.sub_2{
  background-color: #fffa7c;
}
.sub_3{
  background-color: #7cffa5;
}
.sub_4{
  background-color: #7ce9ff;
}
.sub_5{
  background-color: #827cff;
} */

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #3e3e3e;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 45px;
  height: 20vh;
  width: 20%;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  height: 20vh;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.icn_ayo{
  width: 15%;
  height: 3%;
  position : fixed;
  bottom:58%;
  left: 15%;
  /* z-index: 1; */
}



.bottom_left {

  position: fixed;
  bottom: 2%;
  left: 2%;

}

.top_right{
  position: absolute;
  top: 12%;
  left: 85%;
}


.btn_bantuan{
  width: 40%;
}

/* score */

.score{
  /* padding-top: 9%;
  padding-left: 14%; */
  font-family: Janda Manatee Solid;
  font-size :20px;
  position : fixed;
  z-index: 2;
}

.menua{
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
  position: absolute;
  left:65%;
}

.icn_sw {
  z-index: 1;;
  height: 70px;
  width: 30%;
  padding-top:2%;

}

.icn_darah {
  height: 15%;
  width: 15%;
  padding-top:2%;

}
/* score end */

.icn_menu{
  height: 20%;
  width: 20%;
  padding-left:1%;
  padding-right:1%;
}

.logo_latihan{
  height: 30%;
  width: 15%;
}

.icn_logo {
  width: 15%;
  height: 15%;

}

.icn_anak {
  width: 120%;
  height: 120%;

}

/* .icn_anak2 {
width: 10%;
height: 30%;
position: absolute;
z-index: 1;

} */

.bubble {
  position: fixed;
  z-index: -1;
  width: 25%;
  height: 30%;
  bottom: 37%;
  left: 10%;

}
.isi_bubble {
  position: fixed;
  z-index: 1;
  bottom: 45%;
  left: 20%;

}

.logo {
  width: 50%;
  height: 15%;

}

.bgutama{
  background: url(../assets/icon/bgutama.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  background: url(../assets/icon/bgmenu.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.bg3 {
  background: url(../assets/icon/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.bg_instruksi {
  background: url(../assets/icon/bginstruksi.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.bg_scoreboard {
  background: url(../assets/icon/bg_scoreboard.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.bg_menu_ujian {
  background: url(../assets/icon/bg_ujian.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



.papan{
  z-index:-1;
  position: fixed;
  width: 40%;
  height: 50%;
  top:27%;
  padding-left:1%;

}

.icn {
  width: 17%;
}

.icn2 {
  width: 7%;
}

.close_modal{
  z-index: 2;
  right: 1%;
  position: absolute;
  width: 10%;
}

.input_skor{
  z-index:2;
  position: absolute;;
  text-align: center;
  padding-left: 36%;
  padding-top: 30%;
}

.input__{
  width: 35%;
  height: 35%s;
  font-size: 40px;
}

.skor_modal{
  height: 200%;
  width: 100%;
  z-index: 1;
  position: relative;
}
.btn_modal_skor{
  width:35%;
}

.Waktu_modal{
  height: 100%;
  width: 100%;

}

.about_modal{
  height: 100%;
  width: 100%;
  /* position: absolute;
  z-index: -1; */
}

.pop_bs {
  height: 10%;
  width: 10%;
  
}

div.modal-content{
  background:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border:0px;
    
}

.input{
  border:1px solid #000;
  display:inline-flex;
  min-width:20px;
}



/* animation fade in out*/
/* #pop_benar{
  opacity: 0;
  transition: opacity 1s; 
}

#pop_

#pop_benar.fade{
  opacity: 0;
}

#pop_salah{
  opacity: ;
  transition: opacity 1s; 
}

#pop_salah.fade{
  opacity: 0;
} */

/* pop up end */
